<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <script th:inline="javascript">
			/*<![CDATA[*/
					if(/*[[${session['user']?.author}]]*/""){
					}
					else{
						alert("로그인 후 이용하세요.");
						var index = window.open(/*[[@{/index}]]*/"_self");
					}
			/*]]>*/
</script>
</head>
<body>
<header th:insert="common/header1.html"></header>
<div class="container">
	<br>
    <h3>마이페이지</h3>
    <hr>
    <div class="post">
    <br>
    <h3>글</h3>
    <h5>커뮤니티 글</h5>
   
    <table class="table">
     <colgroup>
    	<col width="55%">
    	<col width="15%">
    	<col width="20%">
    </colgroup>
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        
        <tr class="text-center" th:each="post : ${postList}" th:if="${post.author} == ${session['user']?.author}">
           <!--  <th scope="row">
            
                <span th:text="${post.id}"></span>
            </th> -->
            <td>
                <a th:href="@{'/post/' + ${post.id}}">
                    <span th:text="${post.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.author}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.created_date, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <h5>렌트 글</h5>
    <table class="table">
    <colgroup>
    	<!-- <col width="10%"> -->
    	<col width="55%">
    	<col width="15%">
    	<col width="20%">
    </colgroup>
        <thead class="thead-light">
        <tr class="text-center">
           <!--  <th scope="col">번호</th> -->
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="rent : ${rentList}" th:if="${rent.author} == ${session['user']?.author}">
            <!-- <th scope="row">
                <span th:text="${rent.rent_id}"></span>
            </th> -->
            <td>
                <a th:href="@{'/rentPost/' + ${rent.rent_id}}">
                    <span th:text="${rent.rent_title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${rent.author}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(rent.rent_date, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <br>
    <h3>댓글</h3>
 	<div class="comment">
    	<h5>커뮤니티 댓글</h5>
    <table class="table">
    <colgroup>
    	<col width="30%">
    	<col width="50%">
    	<col width="15%">
    </colgroup>
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">글 제목</th>
            <!-- <th scope="col">댓글 번호</th> -->
            <th scope="col">댓글 내용</th>
            <th scope="col">작성자</th>
            
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="communityComment : ${communityCommentList}" th:if="${communityComment.author} == ${session['user']?.author}">
            <th scope="row">
            <a th:href="@{'/post/' + ${communityComment.board.id}}">
                    <span th:text="${communityComment.board.title}"></span>
                </a>
                
            </th>
            <!-- <td>
                <span th:text="${communityComment.id}"></span>
            </td> -->
            <td>
                <span th:text="${communityComment.community_comment_content}"></span>
            </td>
            <td>
                <span th:text="${communityComment.author}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <h5>렌트 댓글</h5>
    
    <table class="table">
    <colgroup>
    	<col width="30%">
    	<col width="50%">
    	<col width="15%">
    </colgroup>
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">글 제목</th>
            <!-- <th scope="col">댓글 번호</th> -->
            <th scope="col">댓글 내용</th>
            <th scope="col">작성자</th>
            
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="rentComment : ${rentCommentList}" th:if="${rentComment.author} == ${session['user']?.author}">
            <th scope="row">
            <a th:href="@{'/rentPost/' + ${rentComment.rent.rent_id}}">
                    <span th:text="${rentComment.rent.rent_title}"></span>
                </a>
                
            </th>
            <!-- <td>
                <span th:text="${rentComment.id}"></span>
            </td> -->
            <td>
                <span th:text="${rentComment.rent_comment_content}"></span>
            </td>
            <td>
                <span th:text="${rentComment.author}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>